body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.add-one {
    float: left;
    width: 33%;
}

.add-two {
    float: left;
    width: 33%;
}

.add-three {
    float: left;
    width: 33%;
}

.add-one label {
    display: block;
    margin-bottom: 5px;
}

.add-two label {
    display: block;
    margin-bottom: 5px;
}


.add-three label {
    display: block;
    margin-bottom: 5px;
}


.add-one input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.add-two input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}


.add-three input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}


.add-one button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}


.add-two button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #000;
    cursor: pointer;
}


.add-three button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}


.add-one button:hover {
    background: #f5f5f5;
}


.add-two button:hover {
    background: #f5f5f5;
}


.add-three button:hover {
    background: #f5f5f5;
}


.add-one button:active {
    background: #f5f5f5;
}


.add-two button:active {
    background: #f5f5f5;
}


.add-three button:active {
    background: #f5f5f5;
}