body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}


.field {
    display: flex;
}

.field label {
    width: 100px;
}

.field select {
    width: 85%;
}

.card-body {
    display: flex;
}

.card-body a.btn.btn-warning {
    float: right;
}

.export-button {
    margin-left: 650px;
}

.navbar-light .navbar-brand img {
    max-height: 90px !important;
    transition: .5s;
}


.footer {
    padding-top: 2rem;
    background: url(../img/map.png);
    background-position: center top, center center;
    background-repeat: no-repeat;
    background-color: #262831;
}

.container-fluid.text-light.footer.wow.fadeIn {
    padding-top: 2rem;
    background: url(../img/map.png);
    background-position: center top, center center;
    background-repeat: no-repeat;
    background-color: #262831;
}


.add-one,
.add-two,
.add-three {
    float: left;
    width: 33%;
    padding: 40px;
}

.form-group {
    display: flex;
}

.add-one label,
.add-two label,
.add-three label {
    display: block;
    margin-bottom: 5px;
}


.add-one input,
.add-two input,
.add-three input {
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}


.add-three button,
.add-two button,
.add-one button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}

.add-one button:hover,
.add-two button:hover,
.add-three button:hover {
    background: #f5f5f5;
}

.add-one button:active,
.add-two button:active,
.add-three button:active {
    background: #f5f5f5;
}

.form-group .add-two strong {
    color: red;
}

.table td, .table th {
    padding: 5px !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

button.btn.btn-primary {
    background: #645151;
}